<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Proce:</strong>
    <%= item.proce %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= item.image %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

</div>
