<p style="color: green"><%= notice %></p>

<%= render @item %>

<div>
  <%= link_to "Edit this item", edit__item_path(@item) %> |
  <%= link_to "Back to items", _items_path %>

  <%= button_to "Destroy this item", [, @item], method: :delete %>
</div>
