<!DOCTYPE html>
<html>

<head>
  <title>Final Proyek GIGIH</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body data-scrollbar-auto-hide="n" class="hold-transition login-page">
  <%= yield %>
</body>

</html>